main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

.card-image {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 2rem;
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
  color: var(--bs-gray);
}

.review button {
  margin-top: 10px;
}

.card {
  color: var(--bs-gray);
  text-decoration: none;;
}

.img-logo {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
}

.fixed-card {
  height: 10rem; 
}

.about-text {
  padding-left: 2rem;
}

.about-image {
  width: 35rem;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgba(0,0,0,8);
}

.login-resigter a{
  color: white;
  text-decoration: none;
}